{% extends "layout.html" %}

{% block html_attribs %} lang="en"{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="static/css/sortable-theme-bootstrap.css" />
{% endblock %}

{% block title %}
{{db.get_inventory_name()}}
{% endblock %}

{% block scripts %}
{{super()}}
<script src="static/js/sortable.js"></script>
{% endblock %}

{% block content %}
<div class="container">
  <h1>{{db.get_inventory_name()}}</h1>
  <p>
    <a class="btn btn-success" href="new-item">New Item</a>
    <a class="btn btn-primary" href="download?format=json">Download as JSON</a>
    <a class="btn btn-primary" href="download?format=csv">Download as CSV</a>
  </p>

  {% for category in db.json["categories"]: %}
    <h2 id="{{category['name'].replace(' ', '-')}}">{{ category["name"] }}</h2>
    <p>Number of items: {{ db.count_items_category(category["id"]) }}</p>  
    <table class="table table-hover sortable-theme-bootstrap" data-sortable>
      <colgroup>
        <col class="col-sm-2">
        <col class="col-sm-1">
        <col class="col-sm-1">
        <col class="col-sm-2">
        <col class="col-sm-1">
        <col class="col-sm-1">
        <col class="col-sm-2">
        <col class="col-sm-3">
      </colgroup>
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Currently Loaned</th>
          <th>ID</th>
          <th>Images</th>
          <th>Quantity</th>
          <th>Purchase Price</th>
          <th>Type</th>
          <th>Note</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for item in db.json["items"]: %}
          {% if item["category"] == category["id"]: %}
            <tr id="item-{{ item['id'] }}">
              <td>{{ item["name"] }}</td>
              <td>{{ item["currently_loaned"] }}</td>
              <td>{{ item["id"] }}</td>
              <td>
                {% for image_name in item["images"] %}
                  {% if image_name != "": %}
                    <a href="{{ db.get_img_src(image_name) }}"><img src="{{ image_name|resize('50x50') }}" width="50"></a>
                  {% endif %}
                {% endfor %}
              </td>
              <td>{{ item["quantity"] }}</td>
              <td>{{ item["purchase_price"] }}</td>
              <td>{{ item["type"] }}</td>
              <td>{{ item["note"] }}</td>
              <td>
                <a href="{{'edit-item/{0}'.format(item.id)}}" class="btn btn-primary" role="button">Edit</a>
                <a href="{{'delete-item/{0}'.format(item.id)}}" class="btn btn-danger" role="button">Delete</a>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
</div>
{% endblock %}
